<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
      render 'theme-seo-title'
      render 'theme-assets'
    -%}

    {{ content_for_header }}
  </head>

  <body>
    <a class="sr-only focus:not-sr-only" href="#MainContent">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    <main id="MainContent">
      {{ content_for_layout }}
    </main>
  </body>
</html>
